                                    /* INDEX PAGE START */
*{
   margin: 0px;
    padding: 0px;
}
/* Top Navigation */
.container-heading{
    display: flex;
    margin-top: 15px;
    justify-content: right;
 border-bottom: 1px solid #453b5c ;
}
/* Top Navigation text*/
.headingText
{
    font-family: 'Lusitana', serif;
    padding-left: 50px;
    color: #453b5c;
}
.row-heading-text{
    margin-right: 600px;
    margin-bottom: 15px;
}
/* Top Navigation buttons*/
.row-heading-btns{
    padding-right: 30px;
}
.btn{
    text-decoration: none;
    background-color: white;
    font-family: 'Lusitana', serif;
    border: none;
    color: #0300b8;
    font-size: 130%;
    cursor: pointer;
}
.btn:hover{
    color: blue;
    border: none;
    background-color: white;
}
/* Index front desription */
.intro-container{
    padding-top: 40px;
    color: #453b5c;
    text-align: center;
    font-family: 'Lusitana', serif;
    
}
.FrontName{
    color: #0c192e;
    font-size: 300%;
}
/* Index front rolling images */
.index-images{
    padding-top: 20px;
    width: 900px;
    height: 85%;
    padding-left: 150px;
}

/* Index copyright footer */

.container-copyright{
    padding: 3px;
    background-color: #1c1c21;
    color:white;
    text-align: center;
    font-size: 80%;
    font-family:Arial, Helvetica, sans-serif;
}
                                                        /* BOOKS SECTION START */

/* Books page heading */
.books-heading-text{
    padding-top: 40px;
    color: #453b5c;
    padding-left: 470px;
    font-size: 230%;
    font-family: 'Lusitana', serif;       
    padding-bottom: 30px;
}
/* Books add book button */
.books-addbook-btn-container{
text-decoration: none;
padding-left: 200px;
padding-bottom: 10px;
}
.books-addbook-btn{
    text-decoration: none;
    color: #0300b8;  
}
.books-addbookd-btn:hover{
    color: blue;
}
/* Books table start */

table , th, td {
    padding: 10px 70px;
    border-collapse: collapse;    
}
th ,td{
    border: 1px solid black;
}
.books-table{
    margin-left: 200px;
    /* padding: 5px 250px; */
}
.table-head{
    background-color: #25e6c5;
}
.table-details:hover{
    background-color: #03fc1c;
}
/* Books table edit */
.books-edit-btn{
padding-left: 9px;
}
/* Books table remove */
.books-delete-btn{
padding-left: 20px;
}