<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Included font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <!-- Include style.css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Included Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lusitana:wght@700&family=Ubuntu+Mono&display=swap"
        rel="stylesheet">
    <title>Books</title>
</head>

<body>
    <div class="container">
        <!-- Index Header start -->

        <body onload="loadImgs();">
            <div class="container-heading">
                <div class="row-heading-text">
                    <h2 class="headingText">Educational Library </h2>
                </div>
                <div class="row-heading-btns">
                    <a class="btn issue" href="./issue">Issue</a>
                </div>
                <div class="row-heading-btns">
                    <a class="btn return" href="./return">Return</a>
                </div>
                <div class="row-heading-btns">
                    <a class="btn books" href="./index">Home</a>
                </div>
            </div>
            <!-- Heading start -->
            <div class="books-heading-container">
                <h1 class="books-heading-text">List of books</h1>
            </div>
            <!-- Add Book btn -->
            <div class="books-addbook-btn-container">
                <a class="books-addbook-btn" href="./add_book"><i class="fas fa-cart-plus"></i> Add book</a>
            </div>
            <!-- Books table -->
            <div class="books-table-container">
                <table class="books-table">
                    <tr class="table-head">
                        <th>Id</th>
                        <th>Name of the Book</th>
                        <th>Author</th>
                        <th>Pages</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                    <tr class="table-details">
                        <td>1</td>
                        <td>Introduction to C++ </td>
                        <td>Jhon Doe</td>
                        <td>435</td>
                        <td><a class="books-edit-btn" href="./update_book"> <i class="fas fa-edit"></i> </a></td>
                        <td><a class="books-delete-btn" href="#"> <i class="fas fa-trash"></i></a></td>
                    </tr>

                </table>
            </div>

    </div>
</body>

</html>