<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lusitana:wght@700&family=Ubuntu+Mono&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
    </title>
</head>

<body onload="loadImgs();">
    <div class="container-heading">
        <div class="row-heading-text">
            <h2 class="headingText">Educational Library </h2>
        </div>
        <div class="row-heading-btns">
            <button class="btn issue">Issue</button>
        </div>
        <div class="row-heading-btns">
            <button class="btn return">Return</button>
        </div>
        <div class="row-heading-btns">
            <button class="btn books">Books</button>
        </div>
    </div>
    <div class="intro-container">
        <h1 class="FrontName">Educational Library </h1>
        <p class="front-text">United States of America</p>
        <p class="front-text">2328 School House Road,South Mississippi</p>
    </div>
    <div class="container-img">
        <div id="index-image">
            <img class="index-images" alt="asd">
        </div>
    </div>
    <div class="container-copyright">
        <p class="footer">Copyright 2021 || Designed by Mohammad Rayan Shah
        <p>
    </div>


</body>

</html>