<html>

<head>
    <title>
        Library
    </title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class="heading">Srinagar Library </h1>
        </div>
        <div class="index-image">

        </div>
        <div>
            <table>
                <th>Name</th>
            </table>
        </div>
    </div>
    <img src="../images/pexels-ivo-rainha-1290141.jpg" alt="asd" style="width:90%">
</body>

</html>